<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h2>请选择你掌握的技能：</h2>
    <div>
      <input type="checkbox" name="" id="reactcb" v-model="isReact">
      <label for="reactcb">React</label>
      <input type="checkbox" name="" id="vuecb" v-model="isVue">
      <label for="vuecb">Vue</label>
      <input type="checkbox" name="" id="jquerycb" v-model="isJquery">
      <label for="jquerycb">jQuery</label>
    </div>
    <hr>
    <input type="checkbox" name="" id="allcb" v-model="isAll">
    <label for="allcb">全选</label>
  </div>
  <script src="./lib/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        isReact: false,
        isVue: false,
        isJquery: false
      },
      computed: {
        // isAll(){
        //   return this.isReact&&this.isVue&&this.isJquery
        // }
        isAll: {
          get() {
            return this.isReact && this.isVue && this.isJquery
          },
          set(newValue) {
            // console.log(newValue)
            this.isReact = newValue
            this.isVue = newValue
            this.isJquery = newValue
          }
        }
      },
    });
  </script>
</body>

</html>